<%- include('nav.ejs') %>
<br><br>
<!-- This is Product details Page -->
<!---->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/<%=product.product_image%>" width="100%">
        </div>
        <div class="col-md-7">
            <h3><%=product.product_name%></h3>
            <h5><%=product.category_name%> / <%=product.sub_cat_name%></h5>
            <h4><big><b>&#8377 <%=product.product_price%></b></big></h4>
            <del>&#8377 <%=product.duplicate_price%></del>
            <h5>Rating : <%=product.product_rating%></h5>
            <p><%=product.product_desciption%></p>
            <% if(!isincart) { %>
            <form action="/add_to_cart" method="get">
                <input type="hidden" name="product_id" value="<%=product.product_id%>">
                <input type="number" name="qty" value="1" min="1" max="10" size="1">
                <a href="/add_to_cart?product_id=<%=product.product_id%>">
                <button  class="btn btn-primary" type="submit" name="btn" value="cart">ADD TO CART</button></a>
                <button class="btn btn-success" type="submit" name="btn" value="buy">Buy Now</button>
            </form>
            <% } %>
        </div>
    </div>
</div>
<br><br>
<!-- This is footer part -->
<%- include('footer.ejs') %>